.App-header {
    /* background-color: #282c34; */
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 1%;
  }

  .App-header h5{
    color: rgb(192, 7, 7);
  }
  
  .container{
    min-height: 100vh;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row{
    display: flex;
    flex-direction: row;
  }
  
  
  .square{
      display: flex;
      justify-content: center;
      align-items: center;
      border:2px solid red;
      padding :60px;
      min-height: 10vh;
      min-width: 10vh;
    }
  .button{
    margin: 2%;
  }  
